.mainheading1{
    text-align: center;
    color:black;
}
.mainheading2{
text-align: center;
    color:white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6C6161;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
    }

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: black}

.dropdown:hover .dropdown-content {
    display: block;
}

.button {
  display: inline-block;
  padding: 13px 22px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translatey(4px);
}


.link1 a:link, a:visited {
    background-color: #323232;
    color: white;
    padding:40px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.link1 a:hover, a:active {
    background-color: grey;
}

.link2 a:link, a:visited {
    background-color: #323232;
    color: white;
    padding: 40px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.link2 a:hover, a:active {
    background-color: grey;
}

#body{
    background:url(homepage.jpg); no repeat centre fixed;
    background-size:cover;
}
#cvcover{
   background:url(home.jpg); no repeat centre fixed;
    background-size:cover;
}
.link3 a:link, a:visited {
    background-color: #323232;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.link4{
    color:red;
}

.link a:hover, a:active {
    background-color: grey;
}
#cloud{
background:url(cloudservices.png); no repeat centre fixed;
background-size:cover;
}

.pictureright{
    float: right;
    margin-left:20px;
}

.button1 {
                background-color: white;
                color: black;
                border: 2px solid #555555;

           
}

.button {
                background-color: black;
                color: red;
                border: 2px solid #555555;

           
}