
*{
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}


.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}


.sportsimg {
    background:url("gaa.jpg"); no repeat;
    width: 90%;
    padding: 5px;
}
.btownimg{
    background:url("gaa2.jpg"); 
    width: 20%;

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

